<% layout('layouts/boilerplate')%>

<div class="container">
    <h1>All Restaurants</h1>
    <div class="restaurantscardcontainor">
    <% let count=0; for (let restaurant of restaurants){%> <% let a=0;let c=0;let
    latDiff=currentUser.geometry['coordinates'][1]*Math.PI/180-restaurant.geometry['coordinates'][1]*Math.PI/180;let
    longDiff=currentUser.geometry['coordinates'][0]*Math.PI/180-restaurant.geometry['coordinates'][0]*Math.PI/180%>
    <% a=Math.sin(latDiff/2)**2 +
    Math.cos(currentUser.geometry['coordinates'][1]*Math.PI/180)*Math.cos(restaurant.geometry['coordinates'][1]*Math.PI/180)*Math.sin(longDiff/2)**2;
    %> <% c=2*Math.atan2(a**0.5,(1-a)**0.5); %> <% let d=c*6371; %> <%
    if(d<=10){ %>
        <div class="card" style="width: 15rem;margin: 0.5rem; display: inline-block;">
            <div style="overflow: hidden;height: 12rem; display: grid; place-items: center;">
            <%if(restaurant.image.url) {%>
                <img class="card-img-top mx-auto" alt="" src="<%=restaurant.image.url%>" />
                <% }else {%>
                <img
                  class="card-img-top mx-auto"
                  alt=""
                  src="https://acadianakarate.com/wp-content/uploads/2017/04/default-image-620x600.jpg"
                />
                <% } %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= restaurant.username %></h5>
              <p class="card-text">
                <%= restaurant.location%>
              </p>
              <p>
                This Restaurant is <%= parseInt(d*100)/100%> kms from your location
              </p>
              <a href="/restaurants/<%=restaurant._id%>" class="btn btn-primary">
                View Food
                <%count=count+1%>
              </a>
            </div>
        </div>
    
    <%}%> <% }%><% if (count===0){%> <div style="font-size: 1.5rem;">There are no Restaurants in circle of radius 10kms</div> <%}%></div>
  </div>
  